Repository MiniaczQ/apsi, pull requests merged in 2023-06, with the labels that each got.

#99 User notifications
  Apsi.postman_collection.json
  backend/migrations/V10__notifications.sql
  backend/seeding/dummy3_events.sql
  backend/src/models/event.rs
  backend/src/models/mod.rs
  backend/src/routing/api/docs/permission.rs
  backend/src/routing/api/docs/states.rs
  backend/src/routing/api/events/mod.rs
  backend/src/routing/api/mod.rs
  backend/src/services/database/repositories/events.rs
  backend/src/services/database/repositories/mod.rs
  backend/src/services/database/repositories/permission.rs
Labels: BACK

#101 Concurrency stuffs
  backend/src/models/version.rs
  backend/src/models/version_state.rs
  backend/src/routing/api/docs/documents.rs
  backend/src/routing/api/docs/states.rs
  backend/src/routing/api/docs/versions.rs
  backend/src/services/database/repositories/documents.rs
  backend/src/services/util.rs
Labels: enhancement, BACK

#102 Handle name conflicts when creating document versions
  frontend/src/versions/VersionCreator.tsx
  frontend/src/versions/VersionEditor.tsx
  frontend/src/versions/VersionNameChooser.tsx
Labels: enhancement, FRONT

#98 Add sortable table
  .gitattributes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/Documents.tsx
  frontend/src/imgs/default.png
  frontend/src/imgs/down_arrow.png
  frontend/src/imgs/up_arrow.png
  frontend/src/index.css
  frontend/src/table/SortedTable.tsx
  frontend/src/table/TableBody.tsx
  frontend/src/table/TableHead.tsx
  frontend/src/versions/Versions.tsx
Labels: enhancement, FRONT, correction needed 💢

#95 Add user notifications
  frontend/src/App.tsx
  frontend/src/RoutingRoot.tsx
  frontend/src/api/ApiClient.ts
  frontend/src/api/BackendApiClient.ts
  frontend/src/comments/Comments.tsx
  frontend/src/documents/Documents.tsx
  frontend/src/models/Notification.ts
  frontend/src/models/StateBadge.tsx
  frontend/src/notifications/Notifications.tsx
  frontend/src/versions/Versions.tsx
Labels: enhancement, FRONT, correction needed 💢

#104 Handle conflicting modified version
  backend/src/routing/api/docs/permission.rs
  backend/src/routing/api/docs/states.rs
  frontend/src/api/ApiClient.ts
  frontend/src/api/BackendApiClient.ts
  frontend/src/models/ChangeVersionState.tsx
  frontend/src/models/DocumentVersion.ts
  frontend/src/models/UpdateVersion.ts
  frontend/src/versions/DocVer.tsx
  frontend/src/versions/VersionContentEditor.tsx
  frontend/src/versions/VersionEditor.tsx
Labels: enhancement, FRONT

#107 Document set view
  frontend/src/App.tsx
  frontend/src/RoutingRoot.tsx
  frontend/src/api/ApiClient.ts
  frontend/src/api/BackendApiClient.ts
  frontend/src/documents/Documents.tsx
  frontend/src/models/DocumentSet.ts
  frontend/src/models/DocumentVersionSet.ts
  frontend/src/set_version_documents/SetVersionDocuments.tsx
  frontend/src/set_versions/SetVersions.tsx
  frontend/src/sets/Sets.tsx
  frontend/src/versions/VersionEditor.tsx
  frontend/src/versions/Versions.tsx
Labels: enhancement, FRONT
